body {
    font-family: Tahoma, serif;
  }
  .pasport {
    border: 2px solid blue;
    width: 500px;
  }
  .text {
    font-size: 25px;
    color: green;
  }
  h1 {
    color: #999999;
  }
  
  #name:hover {
    color: green;
  }
  
  #surname:hover {
    color: green;
  }